In [ ]:
import numpy as np
import pandas as pd
import statistics

In [ ]:

bank_df=pd.read_csv("https://raw.githubusercontent.com/rkkirpane/ADV-PRO-APT-Capstone-Project/main/data.csv")
bank_df

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

#task1

In [ ]:
categorical_var=bank_df.select_dtypes(include = 'object')

In [ ]:
print(categorical_var)

      Loan_ID  Gender Married  ... Self_Employed Property_Area Loan_Status
0    LP001002    Male      No  ...            No         Urban           Y
1    LP001003    Male     Yes  ...            No         Rural           N
2    LP001005    Male     Yes  ...           Yes         Urban           Y
3    LP001006    Male     Yes  ...            No         Urban           Y
4    LP001008    Male      No  ...            No         Urban           Y
..        ...     ...     ...  ...           ...           ...         ...
609  LP002978  Female      No  ...            No         Rural           Y
610  LP002979    Male     Yes  ...            No         Rural           Y
611  LP002983    Male     Yes  ...            No         Urban           Y
612  LP002984    Male     Yes  ...            No         Urban           Y
613  LP002990  Female      No  ...           Yes     Semiurban           N

[614 rows x 8 columns]

In [ ]:
numerical_var=bank_df.select_dtypes(include = 'number')

In [ ]:
print(numerical_var)

     ApplicantIncome  CoapplicantIncome  ...  Loan_Amount_Term  Credit_History
0               5849                0.0  ...             360.0             1.0
1               4583             1508.0  ...             360.0             1.0
2               3000                0.0  ...             360.0             1.0
3               2583             2358.0  ...             360.0             1.0
4               6000                0.0  ...             360.0             1.0
..               ...                ...  ...               ...             ...
609             2900                0.0  ...             360.0             1.0
610             4106                0.0  ...             180.0             1.0
611             8072              240.0  ...             360.0             1.0
612             7583                0.0  ...             360.0             1.0
613             4583                0.0  ...             360.0             0.0

[614 rows x 5 columns]

In [ ]:
datatype=bank_df.dtypes

In [ ]:
print(datatype)

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

#task 2

In [ ]:
banks=bank_df.drop(columns='Loan_ID')

In [ ]:
banks

     Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0      Male      No          0  ...            1.0         Urban            Y
1      Male     Yes          1  ...            1.0         Rural            N
2      Male     Yes          0  ...            1.0         Urban            Y
3      Male     Yes          0  ...            1.0         Urban            Y
4      Male      No          0  ...            1.0         Urban            Y
..      ...     ...        ...  ...            ...           ...          ...
609  Female      No          0  ...            1.0         Rural            Y
610    Male     Yes         3+  ...            1.0         Rural            Y
611    Male     Yes          1  ...            1.0         Urban            Y
612    Male     Yes          2  ...            1.0         Urban            Y
613  Female      No          0  ...            0.0     Semiurban            N

[614 rows x 12 columns]

In [ ]:
banks.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
banks.shape

(614, 12)

In [ ]:
bank_mode=banks.mode()

In [ ]:
bank_mode

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male     Yes          0  ...            1.0     Semiurban            Y

[1 rows x 12 columns]

In [ ]:
banks.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [ ]:
banks["Gender"].fillna("Male", inplace = True)  
banks["Married"].fillna("Yes", inplace = True)  
banks["Dependents"].fillna("0", inplace = True)  
banks["Education"].fillna("Graduate", inplace = True)  
banks["Self_Employed"].fillna("No", inplace = True)  
banks["ApplicantIncome"].fillna("2500", inplace = True)  
banks["CoapplicantIncome"].fillna("0.0", inplace = True)  
banks["LoanAmount"].fillna("120.0", inplace = True)  
banks["Loan_Amount_Term"].fillna("360.0", inplace = True) 
banks["Credit_History"].fillna("1.0", inplace = True) 
banks["Property_Area"].fillna("Semiurban	", inplace = True) 
banks["Loan_Status"].fillna("Y", inplace = True)

In [ ]:
banks.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

#task 3

In [ ]:
banks

     Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0      Male      No          0  ...              1         Urban            Y
1      Male     Yes          1  ...              1         Rural            N
2      Male     Yes          0  ...              1         Urban            Y
3      Male     Yes          0  ...              1         Urban            Y
4      Male      No          0  ...              1         Urban            Y
..      ...     ...        ...  ...            ...           ...          ...
609  Female      No          0  ...              1         Rural            Y
610    Male     Yes         3+  ...              1         Rural            Y
611    Male     Yes          1  ...              1         Urban            Y
612    Male     Yes          2  ...              1         Urban            Y
613  Female      No          0  ...              0     Semiurban            N

[614 rows x 12 columns]

In [ ]:
avg_loan_amount=banks.groupby(['Gender','Married', 'Self_Employed','LoanAmount']).mean()

In [ ]:
print(avg_loan_amount)

                                         ApplicantIncome  CoapplicantIncome
Gender Married Self_Employed LoanAmount
Female No      No            9.0                  2378.0                0.0
                             30.0                 3237.0                0.0
                             40.0                13262.0                0.0
                             44.0                 4166.0                0.0
                             46.0                 2378.0                0.0
...                                                  ...                ...
Male   Yes     Yes           376.0                8666.0             4983.0
                             380.0                9323.0             7873.0
                             400.0               17500.0                0.0
                             480.0                7948.0             7166.0
                             120.0                4514.0                0.0

[375 rows x 2 columns]

#task 4

In [ ]:
banks

     Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0      Male      No          0  ...              1         Urban            Y
1      Male     Yes          1  ...              1         Rural            N
2      Male     Yes          0  ...              1         Urban            Y
3      Male     Yes          0  ...              1         Urban            Y
4      Male      No          0  ...              1         Urban            Y
..      ...     ...        ...  ...            ...           ...          ...
609  Female      No          0  ...              1         Rural            Y
610    Male     Yes         3+  ...              1         Rural            Y
611    Male     Yes          1  ...              1         Urban            Y
612    Male     Yes          2  ...              1         Urban            Y
613  Female      No          0  ...              0     Semiurban            N

[614 rows x 12 columns]

In [ ]:
loan_approved_se=banks.loc[(banks['Self_Employed'] == 'Yes')&(banks['Loan_Status'] == 'Y')].count()

In [ ]:
loan_approved_se

Gender               56
Married              56
Dependents           56
Education            56
Self_Employed        56
ApplicantIncome      56
CoapplicantIncome    56
LoanAmount           56
Loan_Amount_Term     56
Credit_History       56
Property_Area        56
Loan_Status          56
dtype: int64

In [ ]:
loan_approved_nse=banks.loc[(banks['Self_Employed'] == 'No')&(banks['Loan_Status'] == 'Y')].count()

In [ ]:
loan_approved_nse

Gender               366
Married              366
Dependents           366
Education            366
Self_Employed        366
ApplicantIncome      366
CoapplicantIncome    366
LoanAmount           366
Loan_Amount_Term     366
Credit_History       366
Property_Area        366
Loan_Status          366
dtype: int64

In [ ]:
banks['Loan_Status'].count()

614